body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  border: 1px solid black;
  text-align: center;
  background: white;
  margin: 0;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
  height: 12vh;
  background: black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: yellow;
}

.section-icon {
  background: transparent;
  width: 64px;
  height: 64px;
}

main{
  height: 100vh;
  width: 100vw;
}

img{
  background: white;
  background-position: center center;
  border-radius: 5px;

}

#name-list {
  background: gray;
  padding: 0;
  box-shadow: 0 0 15px black;
  font-size: 0.5rem;
  width: 80vw;
  margin: 0 auto;
}

button {
  background: black;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}

input {
  box-shadow: 5px 0 5px black;
}

span {
  padding: 0 10px 0 10px;
}

section {
  background: rgba(0, 0, 0, 0.801);
  color: white;
}

.section-button {
  text-align: center;
}

.section-search {
  padding: 20px;
  text-align: center;
}

.section-pagination {
  text-align: center;
  padding: 15px 0 15px 0;
}

.section-details{
  padding: 10px;
}

strong{
  color: yellow;
}

footer{
  background: black;
  width: 100vw;
  height: 15vh;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content:space-around;
}

.section-saber{
  background: transparent;
}